
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
    background: #EDEDED;
}

/* ----- APP HEADER ----- */

.app-header {
    background: #fff;
    padding: 1em;
    border-block-end: 2px solid #C6C6C6;
}

.logo {
    max-width: 8.125rem;
}

/* ----- POST ----- */

article {
    background: #fff;
}

/* ----- post header ----- */
.post-header {
    padding: 0.625em;
}

.user-info {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.user-info__avatar {
    max-width: 2.125rem;
    clip-path: circle(50%);
}

.user-info__wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem
}

.user-info__name {
    font-size: .8125rem;
    font-weight: 700;
}

.user-info__location {
    font-size: .75rem;
}

/* ----- post footer ----- */

.post-footer {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    padding-block: 1.25em 1em;
    padding-inline: .625em;
}

.icon-wrapper {
    display: flex;
    gap: 1.25rem;
}

.icon {
    max-width: 1.5rem;
}

.post-footer__likes {
    font-size: .8125rem;
    font-weight: 700;
}

.post-footer__comment {
    font-size: .8125rem;
}